<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="ef"
        providerName="Devart.Data.PostgreSql"
        connectionString = "Data Source=Minipc;Port=5432;Database=sg;User Id=postgres;Password=demo+123;Unicode=true"
    />
    <!--
        providerName="Devart.Data.PostgreSql"
        connectionString = "Data Source=Minipc;Port=5432;Database=sg;User Id=postgres;Password=demo+123;Unicode=true"
        providerName = "System.Data.SqlClient"
        connectionString = "Data Source=.\SQLEXPRESS19;Initial Catalog=eiptestdb2;Trusted_Connection=Yes"
        providerName="Devart.Data.PostgreSql"
        connectionString = "Data Source=Minipc;Port=5432;Database=sg;User Id=postgres;Password=demo+123;Unicode=true"
        providerName = "Oracle.ManagedDataAccess.Client"
        connectionString = "Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=oravm2)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=Eureka)));User Id=ovghgw_admin;Password=ovghgw_admin"
        providerName = "System.Data.SqlClient"
        connectionString = "Data Source=.\SQLEXPRESS19;Initial Catalog=VGEFA;Trusted_Connection=Yes"
        connectionString = "Data Source=.\SQLEXPRESS17;Initial Catalog=eiptestdb2;Trusted_Connection=Yes"
        connectionString = "Data Source=.\SQLEXPRESSder17;Initial Catalog=sg;Trusted_Connection=Yes"
        providerName="Oracle.ManagedDataAccess.Client"
        connectionString = "UKUyRNhAE/XDBeEWxGV+p3G3YwvtFqgA+xDNr62B41PdQv2/NlfYfjTYXHO1RwptjMJ9W9Oh4HSrgol6jG1qTk70Ynewl/yEHJiQaglu3LPzJBIDMpb5mctbahLiu+SPQfSlP1WKXyhu2X+hn6wvlaVmaUjmCF2vEotsvpHk172EPxcK3pElI0vzgMEe8YY6jHhyq57PWyxt/gk0LP0Nip5BCzEthUXZGmCQy1+IIXc="
        providerName = "Oracle.ManagedDataAccess.Client"
        connectionString = "Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=oravm2)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=Eureka)));User Id=vghgw_admin;Password=vghgw_admin"
        connectionString = "Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=oravm2)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=Eureka)));User Id=ovghgw_admin;Password=ovghgw_admin"
        providerName = "Oracle.ManagedDataAccess.Client"
        connectionString = "Data Source=orapc:1521;User Id=arbghro_admin;Password=fach19"
        connectionString = "Data Source=.\SQLEXPRESS17;Initial Catalog=eiptestdb;Trusted_Connection=Yes"
        connectionString = "GsI7X942D/5hp/y+wF6Wxh6VUkJcMliVlH/HC2n7b4iX7EgiYQWUdkcHCLXj0Kh6niJmgktPZLnQRKB+oA2HfIBrqvpaaaqFiTkNmPjRzz4="
        providerName="Devart.Data.PostgreSql"
        connectionString = "Data Source=127.0.0.1;Port=5432;Database=sg;User Id=postgres;Password=demo+123;Unicode=true"
        connectionString = "Data Source=127.0.0.1;Port=5432;Database=sg;User Id=postgres;Password=demo+123;"
    -->
  </connectionStrings>
</configuration>